/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img-fondo {
  background-image: url('./assets/img_fondo.png');
  background-size: cover;
  background-position: left;
}
